* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-family: 'Roboto'; background: #e1e1e1; padding: 110px 370px 10px 320px; }
body.active { overflow: hidden; padding-right: 387px; }
body.active .rightbar { right: 17px; }
body.active .topbar { width: calc(100% - 17px); }
body.full { padding: 110px 10px 10px; }
body.full.active { padding-right: 27px; }

a { transition: all 0.3s ease; }

.clear { clear: both; }
.clear:after { content: ''; clear: both; height: 1px; display: block; }

.topbar { position: fixed; top: 0; left: 0; width: 100%; height: 100px; background: #2b294e;  padding: 28px 28px 0 32px; z-index: 11; }
.topbar .logo { background: url(/image/logo-1.png); width: 235px; height: 44px; float: left; background-position: center center;  background-size: cover;}
.topbar .nav { float: left; list-style: none; margin: 14px 0 0 170px; }
.topbar .nav ul { list-style: none; }
.topbar .nav ul li { float: left; margin-left: 42px; }
.topbar .nav ul li a { color: #ffffff; text-decoration: none; font-weight: bold; position: relative; }
.topbar .nav ul li a:hover, .topbar .nav ul li a.active { color: #fa6200; }
.topbar .nav ul li a:after { content: ''; width: 100%; height: 2px; position: absolute; bottom: -28px; left: 0; background: #fa6200; opacity: 0; visibility: hidden; transition: all 0.3s ease; }
.topbar .nav ul li a:hover:after, .topbar .nav ul li a.active:after { bottom: -41px; opacity: 1; visibility: visible; }
.topbar .right { float: right; margin: -5px 0 0; }
.topbar .auth .btn:first-child { margin-right: 10px; }
.topbar .bonus { display: inline-block; font-size: 15px; vertical-align: middle; border-radius: 15px; color: #fff; font-weight: bold; padding: 8px 20px; text-decoration: none; }
.topbar .bonus:hover { background: #202b37; }
.topbar .bonus .ico-gift { background: url(/images/ico-gift.svg); width: 25px; height: 25px; display: inline-block; vertical-align: middle; margin: 0 10px 0 0; }
.topbar .bonus.second { color: #eaeaea; background: #1f1d3c;}
.topbar .bonus.second .ico-gift { background: url(/image/bonus_image4.png); width: 40px; height: 40px; display: inline-block; vertical-align: middle; background-position: center center; background-size: cover; margin: 0px 10px 0 0; }
.topbar .bonus.second:hover { background: #423f6b; }
.topbar .auth { display: inline-block; vertical-align: middle; }
.topbar .mini-profile { display: inline-block; margin: 3px 0 0; }
.topbar .mini-profile .avatar { display: inline-block; vertical-align: middle; width: 50px; height: 50px; margin: 0 12px 0 0; }
.topbar .mini-profile .avatar img { width: 100%; height: 100%; border-radius: 10px; }
.topbar .mini-profile .info { display: inline-block; vertical-align: middle; margin: 1px 0 0; }
.topbar .mini-profile .info .name { font-size: 14px; font-weight: bold; margin-bottom: 1px; }
.topbar .mini-profile .info .name a { color: #fff; text-decoration: none; }
.topbar .mini-profile .info .link-exit { color: #c56058; font-size: 12px; font-weight: bold; text-decoration: none; }
.topbar .mini-profile .info .link-exit:hover { color: #c53364; }
.topbar .mini-profile .sep { display: inline-block; width: 1px; height: 50px; background-color: #202b37; margin: 0 35px; vertical-align: middle; }
.topbar .mini-profile .balances { display: inline-block; vertical-align: middle; }
.topbar .mini-profile .balances .item { color: #fff; font-weight: 700; font-size: 14px; }
.topbar .mini-profile .balances .item:first-child { margin-bottom: 7px; }
.topbar .mini-profile .balances .item .label { display: inline-block; vertical-align: middle; width: 60px; }
.topbar .mini-profile .balances .item .desc { display: inline-block; vertical-align: middle; width: 80px; text-align: right; }

.btn { position: relative; z-index: 1; padding: 0 40px; height: 52px; line-height: 54px; display: inline-block; border-radius: 2px; background-image: linear-gradient(-45deg, #5834c7 0%, #474484 100%); text-decoration: none; color: #fff; font-size: 14px; text-transform: uppercase; font-weight: bold; cursor: pointer; outline: none; border: 0; }
.btn.second { background-image: linear-gradient(135deg, #622774 0%, #c53364 100%); }
.btn:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: linear-gradient(-45deg, #665e7d 0%, #463fd6 100%); z-index: -1; opacity: 0; transition: all 0.3s ease; border-radius: 2px; }
.btn.second:before { background: #622774; }
.btn:hover:before { opacity: 1; }

.content { min-height: 750px;}
.leftbar { position: fixed; top: 110px; left: 10px; height: calc(100vh - 120px); width: 300px; z-index: 2; }
.rightbar { position: fixed; top: 110px; right: 0; height: calc(100vh - 120px); width: 360px; }
.rightbar .slimScrollDiv { padding-right: 10px; }

.c-green { color: #7ed321; }
.c-red { color: #f13e54; }
.c-blue { color: #4a9aeb; }
.c-yellow { color: #f8e71c; }
.c-orange { color: #f5a623; }

.mb14 { margin-bottom: 14px; }

.block .list span[data-game] {
    display: inline-block;
    height: 24px;
    width: 24px;
	background-position-y: 1px;
	background: url(/image/icons/icons.svg);
}

span[data-game="4"] {
	background-position-x: -150px !important;
}
span[data-game="5"] {
	background-position-x: -900px !important;
}
span[data-game="6"] {
	background-position-x: -960px !important;
}
span[data-game="7"] {
	background-position-x: -990px !important;
}
span[data-game="8"] {
	background-position-x: -120px !important;
}
span[data-game="9"] {
	background-position-x: -540px !important;
}
span[data-game="38"] {
	background-position-x: -540px !important;
}
span[data-game="13"] {
	background-position-x: -910px !important;
}
span[data-game="28"] {
	background-position-x: -60px !important;
}
span[data-game="46"] {
	background-position-x: -330px !important;
}
span[data-game="49"] {
	background-position-x: -240px !important;
}
span[data-game="54"] {
	background-position-x: -0px !important;
}
span[data-game="42"] {
	background-position-x: -630px !important;
}
span[data-game="56"] {
	background-position-x: -270px !important;
}
span[data-game="58"] {
	background-position-x: -480px !important;
}
span[data-game="60"] {
    background: none;
}
span[data-game="27"] {
	background-position-x: -360px !important;
}
span[data-game="29"] {
	background-position-x: -930px !important;
}
span[data-game="55"] {
	background-position-x: -570px !important;
}
span[data-game="34"] {
	background-position-x: -840px !important;
}
span[data-game="32"] {
	background-position-x: -1020px !important;
}
span[data-game="35"] {
    background: none;
}
span[data-game="36"] {
    background: none;
}
span[data-game="40"] {
	background-position-x: -210px !important;
}



.block .heading { height: 42px; line-height: 42px; padding: 0 16px; background-image: linear-gradient(135deg, #622774 0%, #c53364 100%); border-radius: 2px 2px 0 0; font-weight: bold; color: #fff; font-size: 14px; }
.block .heading .action { float: right; color: #fff; font-size: 12px; }
.block .heading .action:hover { text-decoration: none; }
.block .item { display: block; background-color: #fff; padding: 9px 16px; color: #000; font-size: 14px; border-bottom: solid 1px #c5c5c5; cursor: pointer; font-weight: bold; transition: all 0.3s ease; }
.block .item .ico { display: inline-table; vertical-align: middle; width: 24px; height: 24px; text-align: center; margin: 0 12px 0 0; }
.block .item .badge { float: right; position: absolute; right: 0; top: -4px; }
.block .item .ico .align { display: table-cell; vertical-align: middle; }
.block .item .ico .align img { vertical-align: middle; }
.block .item .desc { display: inline-block; vertical-align: middle; width: calc(100% - 40px); position: relative; }
.block .item:hover, .block .item.active { background-color: #b3b3b3; color: #212121; }
.block.second .heading { background-image: linear-gradient(-45deg, #e45342 0%, #732424 100%); }
.block .sublist { margin: 9px 0 -9px -16px; width: calc(100% + 32px); overflow: hidden; height: 0; transition: all 0.5s ease; }
.block .subitem { display: block; background-color: #e1e1e1; margin: 0 0 1px 0; padding: 10px 16px; }
.block .subitem:hover { background: #bdbdbd; }
.block .subitem .subheading { color: #818993; font-size: 12px; margin-bottom: 4px; }
.block .subitem .name { color: #000; font-size: 12px; }
.block .subitem:last-child { margin-bottom: 0; }
.block .block-content { padding: 16px; background: #fff; border-radius: 0 0 2px 2px; }
.block .bet-item .remove { background: #202b37 url(/images/ico-remove.svg) no-repeat center; width: 24px; height: 24px; float: right; border-radius: 2px; cursor: pointer; }
.block .bet-item .remove:hover { background: #232f3b url(/images/ico-remove.svg) no-repeat center; }
.block .bet-item .name { margin-bottom: 14px; line-height: 22px; }
.block .bet-item .name .left { float: left; color: #000; font-weight: bold; width: calc(100% - 30px); }
.block .bet-item .ico { display: inline-table; vertical-align: middle; width: 24px; height: 24px; text-align: center; margin: 0 12px 0 0; }
.block .bet-item .ico .align { display: table-cell; vertical-align: middle; }
.block .bet-item .ico .align img { vertical-align: middle; }
.block .bet-item .desc { display: inline-block; vertical-align: middle; width: calc(100% - 40px); color: #818993; font-size: 12px; font-weight: bold; }
.block .bet-item .type { margin-bottom: 27px; }
.block .bet-item .info { margin-bottom: 20px; }
.block .bet-item .info .left { float: left; color: #000; font-weight: bold; }
.block .bet-item .info .right { float: right; height: 35px; padding: 0 12px; line-height: 35px; color: #000; font-size: 16px; font-weight: bold; background-image: linear-gradient(-45deg, #5d9cec 0%, #0e65d7 100%); border-radius: 2px; margin: -9px 0 0; }
.block .bet-item .sum { margin-bottom: 12px; }
.block .bet-item .sum .label { display: inline-block; vertical-align: middle; color: #000; font-weight: bold; margin: -1px 8px 0 0; }
.block .bet-item .sum .input {border: solid 1px #969696; display: inline-block; vertical-align: middle; border-radius: 2px; height: 30px; width: 120px; outline: none; font-family: inherit; font-size: 14px; font-weight: bold; padding: 0 12px; }
.block .bet-item .sum-info { line-height: 18px; font-size: 11px; font-weight: 700; color: #818993; margin-bottom: 24px; }
.block .bet-item .win { height: 50px; border: 1px dashed #2a3746; border-radius: 2px; padding: 0 16px; line-height: 50px; }
.block .bet-item .win .left { float: left; color: #272727; font-weight: bold; font-size: 14px; }
.block .bet-item .win .right { float: right; font-size: 18px; font-weight: bold; }
.block .btn-bet { width: 100%; margin: 14px 0 0; }
.block .bet-item:not(:last-child) { margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px dashed #2a3746; }
.block .bet-item.express { margin: 20px 0 8px; padding: 15px 0 0;  border-top: 1px dashed #2a3746;  border-bottom: 1px dashed #2a3746; }
.block .bet-item.express .sum .label { font-weight: normal; }
.block .bet-item.express .win { margin-bottom: 10px; }
.block .bet-item.express .sum-info { margin-bottom: 15px; }

.banner { text-align: center; }
.banner img { max-width: 100%; }

.variations { margin: 6px 0 0; }
.variations .variation { display: inline-block; vertical-align: middle; margin: 10px 20px 0 0; }

label { cursor: pointer; }
input[type=checkbox] { display: none; }
input[type=checkbox] + span { width: 24px; height: 24px; display: inline-block; vertical-align: middle; background-color: #404040; border-radius: 2px; margin: 0 6px 0 0; position: relative; margin-right: 8px; }
input[type=checkbox] + span:after { content: ''; width: 12px; height: 12px; border-radius: 2px; background-color: #fff; position: absolute; top: 6px; left: 6px; opacity: 0; transition: all 0.3s ease; }
input[type=checkbox]:checked + span:after { opacity: 1; }
input[type=checkbox] + span + .label-desc { display: inline-block; vertical-align: middle; max-width: calc(100% - 34px); color: #333333; font-size: 12px; font-weight: bold; white-space: nowrap; transition: all 0.3s ease; }
input[type=checkbox]:checked + span + .label-desc { color: #333333; }


.slider { overflow: hidden; max-height: 385px; max-width: 1230px; margin: 0 auto 14px; position: relative; }
.slider .item { border-radius: 2px; overflow: hidden; display: block; text-align: center; transition: none; position: relative; }
.slider .item img { width: 100%; }
.slider .prev { width: 52px; height: 70px; background: rgba(255,255,255,0.1) url(/images/slide-prev.svg) no-repeat center; position: absolute; top: 50%; margin-top: -35px; left: 14px; cursor: pointer; }
.slider .next { width: 52px; height: 70px; background: rgba(255,255,255,0.1) url(/images/slide-next.svg) no-repeat center; position: absolute; top: 50%; margin-top: -35px; right: 14px; cursor: pointer; }
.slider .prev:hover, .slider .next:hover { background-color: rgba(255,255,255,0.2); }
.slider .btn-slider { width: 240px; height: 58px; line-height: 60px; background-image: linear-gradient(180deg, #b4ec51 0%, #429321 100%); border-radius: 29px; box-shadow: 0 0 36px rgba(153, 222, 38, 0.6); position: absolute; bottom: 42px; left: 50%; margin-left: -120px; color: #fff; font-weight: bold; transition: all 0.3s ease; cursor: pointer; }
.slider .btn-slider:hover { filter: brightness(1.1); }

.search { margin-bottom: 14px; position: relative; }
.search .input { width: 100%; padding: 0 40px; text-align: center; height: 36px; font-family: inherit; color: #000; font-weight: bold; font-size: 14px; background-color: #fff; border-radius: 2px; outline: none; border: solid 1px #888888; }
.search .btn-search { background: url(/images/ico-search.svg) no-repeat center; width: 48px; height: 36px; position: absolute; right: 0; top: 0; border: 0; outline: none; cursor: pointer; }


::-webkit-input-placeholder { color: #818993; transition: all 0.3s ease; }
:-ms-input-placeholder { color: #818993; transition: all 0.3s ease; }
::-ms-input-placeholder { color: #818993; transition: all 0.3s ease; }
::placeholder { color: #818993; transition: all 0.3s ease; }
:focus::-webkit-input-placeholder { opacity: 0; }
:focus:-ms-input-placeholder { opacity: 0; }
:focus::-ms-input-placeholder { opacity: 0; }
:focus::placeholder { opacity: 0; }


.content .container { background-color: #e1e1e1; border-radius: 2px; padding: 0; display: flex; flex: 1; margin-bottom: 14px; }
.content .container.second { min-height: calc(100vh - 317px); }

.current_page_active {background: #24303e; color: #ffffff;}
.error-login {
    padding: 25px 15px 25px 15px;
    text-align: center;
    background: #cc2727;
    margin-bottom: 15px;
    color: #fff;
}

.footer {z-index: 10; background-color: #121921; position: absolute; left: 0px; width: 100%;}
.footer-space {width: 100%; padding: 30px 2% 30px 2%; font-size: 0; border-bottom: solid 1px #545454;}
.footer-block {margin: 0px 0px 0px 0px; display: inline-block; vertical-align: top;  font-size: 13px; color: #c6c6c6;}
.del20 {width: 18%; margin: 0px 1% 0px 0.5%}
.del33 {width: 31%; margin: 0px 1% 0px 0.5%}
.footer-block ul {list-style: none; font-size: 13px; color: #c6c6c6; }
.footer-block ul a {color: #c6c6c6; text-decoration: none}
.footer-space h3 {color: #fff; font-size: 18px; font-weight: 700; margin-bottom: 10px;}
.footer .logo { float: left; background: url(/images/logo.svg); width: 135px; height: 26px; background-size: 100% 100%; margin: 9px 0 0; }
.footer .fnav { list-style: none; margin: 10px 0 0 10px; float: left; }
.footer .fnav li { float: left; margin-left: 29px; }
.footer .fnav li a { color: #818993; font-size: 14px; font-weight: bold; text-decoration: none; }
.footer .fnav li a:hover { color: #fff; }
.footer .right { float: right; }
.footer .sep { background-color: #202b37; height: 1px; margin: 20px 0 20px -16px; width: calc(100% + 32px); }
.footer .line.second { margin-bottom: 15px; }
.footer .line.second .left { float: left; margin: 4px 0 0; }
.footer .line.second .license { float: right; max-width: 425px; font-size: 10px; color: #818993; font-weight: bold; }
.footer .line.second .left .comission { display: inline-block; color: #818993; font-size: 12px; vertical-align: middle; font-weight: bold; }
.footer .line.second .left .list { display: inline-block; vertical-align: middle; }
.footer .line.second .left .item { display: inline-block; vertical-align: middle; margin: 0 10px; }
.footer .copyright { width: calc(100% + 32px); margin-left: -16px; padding: 5px 16px; background-color: #18212b; border-radius: 2px; color: #818993; font-size: 10px; font-weight: bold; }
.footer .copyright .left { float: left; }
.footer .copyright .right { float: right; }
.footer .copyright .right a { color: #818993; text-decoration: none; }
.footer .apps { display: inline-block; vertical-align: middle; }
.footer .apps a { display: inline-block; vertical-align: middle; }
.footer .apps a:hover { filter: brightness(1.3); }
.footer .apps a:last-child { margin-left: 8px; }
.footer .social { display: inline-block; vertical-align: middle; margin-left: 60px; }
.footer .social a { display: inline-block; vertical-align: middle; margin-left: 10px; width: 36px; height: 36px; border-radius: 100%; }
.footer .social a:hover { filter: brightness(1.1); }
.footer .social a.soc-telegram { background: #279fd2 url(/images/soc-telegram.svg) no-repeat calc(50% - 2px) calc(50% + 0px); }
.footer .social a.soc-vk { background: #3e6fa1 url(/images/soc-vk.svg) no-repeat calc(50% - 0px) calc(50% + 1px); }
.footer .social a.soc-instagram { background: url(/images/soc-instagram.svg) no-repeat calc(50% - 0px) calc(50% + 0px), linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); }

.payment-block {
	padding: 18px 10px;
	background: #0e1319;
}

.payment-block .item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; background: rgba(18,25,33,0.85); overflow: auto; opacity: 0; visibility: hidden; transition: all 0.5s ease; }
.overlay.active { opacity: 1; visibility: visible; z-index: 999; }

.popup {z-index: -1; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%) scale(0.6); width: calc(100% - 20px); max-width: 600px; opacity: 0; visibility: hidden; transition: all 0.5s ease; }
.popup.active { z-index: 1; opacity: 1; visibility: visible; transform: translate(-50%,-50%) scale(1); }
.popup .heading { height: 52px; line-height: 52px; text-align: center; background-image: linear-gradient(-45deg, #484388 0%, #5437ba 100%); color: #fff; font-weight: bold; font-size: 16px; position: relative; }
.popup .heading .close { background: url(/images/ico-close.svg); width: 14px; height: 14px; position: absolute; right: 20px; top: 20px; cursor: pointer; background-size: 100% 100%; }
.popup .heading .close:after { content: ''; background: url(/images/ico-close.svg); background-size: 100% 100%; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; transition: all 0.3s ease; }
.popup .heading .close:hover:after { opacity: 1; }
.popup .container { padding: 24px; background: #fff; }
.popup .btn { width: 100%; text-align: center; height: 42px; line-height: 42px; font-size: 14px; text-transform: none; }

.popup .label-desc { white-space: normal !important; vertical-align: top; line-height: 20px; }
.popup input[type=checkbox] + span { vertical-align: top; }

.flag-container .slimScrollDiv { opacity: 0; visibility: hidden; width: 300px !important; }
.flag-container .slimScrollDiv.show {  opacity: 1; visibility: visible;  }
.intl-tel-input .country-list { background: #202b37 !important; border: 1px solid #2d3c4c !important; }
.intl-tel-input .country-list .divider {  border-bottom: 1px solid #2d3c4c !important;}
.intl-tel-input .country-list .country { color: #818993 !important; font-size: 14px; font-family: inherit; }
.intl-tel-input .country-list .country span { color: #fff; }
.intl-tel-input .selected-flag { background: #2c3a4a !important; outline: none !important; color: #fff !important; padding-right: 18px !important;  font-weight: bold; }

.tabs { text-align: center; margin-bottom: 24px; }
.tabs .tab { float: left; width: 50%; height: 62px; border-radius: 2px; background: #5f4f94; line-height: 62px; position: relative; z-index: 1; color: #fff; text-decoration: none; font-size: 14px; font-weight: bold; }
.tabs .tab .ico-mail { background: url(/images/ico-mail.svg); width: 24px; height: 16px; display: inline-block; vertical-align: middle; margin: -2px 10px 0 0; }
.tabs .tab .ico-vk { background: url(/images/ico-vk.svg); width: 25px; height: 14px; display: inline-block; vertical-align: middle; margin: -2px 10px 0 0; }
.tabs .tab:after { content: ''; background-image: linear-gradient(-45deg, #d42a2a 0%, #AD5655 100%); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; border-radius: 2px; opacity: 0; transition: all 0.3s ease; }
.tabs .tab.active:after { opacity: 1; visibility: visible; }
.tabs .tab:hover { background: #293745; }

.tab-content { display: none; }
.tab-content.active { display: block; }

.form { }
.form.second { max-width: 552px; margin: 0 auto; }
.form .rules { margin: 6px 0 12px 0; }
.form .btn { margin: 32px 0 0; }
.form .item { width: calc(50% - 6px); margin-bottom: 12px; float: left; }
.form .item.full { width: 100%; margin-bottom: 11px; }
.form .item:nth-child(2n) { float: right; }
.form .item .input { width: 100%; height: 42px; padding: 0 18px; font-family: inherit; color: #000; outline: none; border: solid 1px #888888; background-color: #fff; border-radius: 2px; font-weight: bold; font-size: 14px; }
.form .item.required { position: relative; }
.form .item.required .input { padding-right: 30px; }
.form .item.required:after { content: '*'; position: absolute; right: 15px; top: 15px; color: #818993; font-weight: bold; font-size: 14px; }
.form .btn.normal { margin: 12px 0 0; }
.form .forget { text-align: right; margin-bottom: 3px; color: #000; text-decoration: none; font-size: 12px; font-weight: bold; }
.form .descs {display: flex; justify-content: space-between; }
.form .desc { color: #000; text-decoration: none; font-size: 12px; font-weight: bold; text-align: left; margin-bottom: 3px; }
.form .desc--centered { text-align: center; }
.form .forget a, .form .desc a { color: #000; text-decoration: none; font-size: 12px; font-weight: bold; }
.form .desc a { font-weight: 900; color: #3e87e7; }
.form .forget a:hover, .form .desc a:hover { text-decoration: underline; }
.form .group.third .item { width: calc(33.333% - 8px); float: left; }
.form .group.third .item:nth-child(2) { margin: 0 12px 12px; }
.form.second .btn { width: 100%; height: 42px; line-height: 42px; text-transform: none; margin: 0; }

.social-actions { text-align: center; margin: 35px 0 32px; }
.social-actions .action { display: inline-block; vertical-align: middle; width: 50px; height: 50px; border-radius: 100%; margin: 0 5px; }
.social-actions .action.fb { background: #4460a0 url(/images/ico-fb.svg) no-repeat center; }
.social-actions .action.twitter { background: #4dc8f1 url(/images/ico-twitter.svg) no-repeat center; }
.social-actions .action.vk { background: #3e6fa1 url(/images/ico-vk.svg) no-repeat center; }
.social-actions .action.odn { background: #eb8f34 url(/images/ico-odn.svg) no-repeat center; }
.social-actions .action.google { background: #de4d3b url(/images/ico-google.svg) no-repeat center; }
.social-actions .action:hover { filter: brightness(1.2); }
.social-actions .action.twitter:hover { filter: brightness(1.1); }

.no-bottom { margin-bottom: 0 !important; }


.profile-nav { width: calc(100% + 32px); margin: -16px 0 65px -16px; }
.profile-nav a { float: left; width: 16.666%; text-align: center; height: 67px; line-height: 67px; background-color: #505050; color: #fff; font-weight: bold; text-decoration: none; position: relative; z-index: 1; overflow: hidden; }
.profile-nav a:after { content: ''; background-image: linear-gradient(-45deg, #5d9cec 0%, #0e65d7 100%); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; opacity: 0; transition: all 0.3s ease; }
.profile-nav a.active:after, .profile-nav a:hover:after { opacity: 1; visibility: visible; }

.profile-nav a:first-child { border-radius: 2px 0 0 2px; }
.profile-nav a:last-child { border-radius: 0 2px 2px 0; }

.title { text-align: center; color: #000; font-size: 24px; font-weight: bold; margin-bottom: 63px; }
.title.second { text-align: left; padding: 8px; margin-bottom: 20px; }

.text-content { padding: 8px; color: #818993; line-height: 28px; font-size: 14px; font-weight: 700; }
.text-content a { color: #fff; }
.text-content a:hover { text-decoration: none; }

.select { position: relative; max-width: 350px; display: inline-block; width: 100%; vertical-align: middle; cursor: pointer; font-size: 16px; font-weight: 700; color: #818993; margin-right: 8px; }
.select.medium { max-width: 250px; }
.select:last-child { margin-right: 0; }
.select .current { padding: 0 40px 0 18px; height: 42px; line-height: 43px; background-color: #18212b; border-radius: 2px; position: relative; }
.select .current:after { content: ''; background: url(/images/select-arrow.svg); width: 14px; height: 8px; position: absolute; right: 18px; top: 50%; margin-top: -4px; transition: all 0.3s ease; }
.select.active .current:after { transform: rotate(180deg); }
.select .dropdown { position: absolute; top: 110%; left: 0; width: 100%; opacity: 0; transition: all 0.3s ease; z-index: -1; }
.select.active .dropdown { opacity: 1; visibility: visible; top: 100%; z-index: 5; }
.select .dropdown .select-item { display: block; height: 42px; line-height: 43px; padding: 0 18px;  background: #0f141a; }
.select .dropdown .select-item:last-child { border-radius: 0 0 2px 2px; }
.select .dropdown .select-item:hover { background: #151d27; color: #fff; }
.select img {display: inline-block ;vertical-align: middle; margin: -3px 8px 0 0; }

.contentbar { margin-bottom: 30px; }

.overview-table { overflow: auto; }

.table { width: 100%; border-collapse: separate; border-spacing: 0 1px; }
.table td { padding: 16px; font-size: 14px; font-weight: bold; color: #818993; background-color: #e1e1e1; }
.table td:first-child { border-radius: 2px 0 0 2px; }
.table td:last-child { border-radius: 0 2px 2px 0; }
.table tr:nth-child(even) td { background-color: #f1f1f1; }
.table a { color: #fff; text-decoration: none; }
.table a:hover { text-decoration: underline; }
.table .pad { padding: 0 20px; }
.table th { background-color: #18212b; color: #818993;  font-size: 14px; padding: 8px 16px; }
.table.second td { color: #000; text-align: center; }
.table.second th:first-child, .table.second td:first-child, .table.second td:last-child, .table.second th:last-child { text-align: left; }
.table.third td { color: #fff; }
.table.third th { text-align: left; padding: 14px 16px; }

.table-action { display: block; height: 35px; line-height: 35px; text-decoration: none; color: #fff; background-color: #202b37; border-radius: 2px; margin-bottom: 10px; }
.table-action:hover { text-decoration: none !important; background: #25313d; }
.table tr:nth-child(even) td .table-action { background: #18212b; }
.table tr:nth-child(even) td .table-action:hover { background: #1d2833; }

.badge { height: 22px; line-height: 24px; background-image: linear-gradient(135deg, #ed5565 0%, #d62839 100%); padding: 0 6px; border-radius: 5px; color: #fff; font-size: 11px; text-transform: uppercase; font-weight: bold; display: inline-block; }
.badge.blue { background-image: linear-gradient(-45deg, #5d9cec 0%, #0e65d7 100%); height: 35px; line-height: 37px; font-size: 16px; border-radius: 2px; padding: 0 10px; }


.payments-nav { width: calc(100% + 32px); margin: -16px 0 52px -16px; }
.payments-nav a { float: left; width: 33.333%; text-align: center; height: 67px; line-height: 67px; background-color: #18212b; color: #fff; font-weight: bold; text-decoration: none; position: relative; z-index: 1; overflow: hidden; }
.payments-nav a:first-child { border-radius: 2px 0 0 2px; }
.payments-nav a:last-child { border-radius: 0 2px 2px 0; }
.payments-nav a:after { content: ''; background-image: linear-gradient(-45deg, #3b4f67 0%, #2e4156 100%); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; opacity: 0; transition: all 0.3s ease; }
.payments-nav a.active:after, .payments-nav a:hover:after { opacity: 1; visibility: visible; }

.deposit { text-align: center; margin-bottom: 52px; }
.deposit .btn { height: 42px; line-height: 42px; text-transform: none; backface-visibility: hidden; width: 150px; padding: 0; text-align: center; }
.deposit .input { max-width: 300px; width: calc(100% - 160px); margin-right: 6px; height: 42px; border-radius: 2px; border: 0; font-family: inherit; color: #202b37; font-size: 16px; font-weight: bold; padding: 0 18px; outline: none; }


.withdraw { text-align: center; max-width: 400px; margin: 0 auto; }
.withdraw .btn { height: 42px; line-height: 42px; text-transform: none; backface-visibility: hidden; width: 150px; padding: 0; text-align: center; }
.withdraw .input { max-width: 300px; width: calc(100% - 160px); margin-right: 6px; height: 42px; border-radius: 2px; border: 0; font-family: inherit; color: #202b37; font-size: 16px; font-weight: bold; padding: 0 18px; outline: none; }
.withdraw .input.second { width: 100%; max-width: none; background-color: #18212b; color: #fff; }
.withdraw .item { margin-bottom: 12px; }
.withdraw .item:last-child { margin-bottom: 0; }
.withdraw .select { max-width: none; text-align: left; }

.payments { text-align: center; }
.payments img { max-width: 100%; vertical-align: bottom; }

.bonuses { margin-bottom: 12px; }
.bonuses .col { width: calc(50% - 6px); float: left; }
.bonuses .col:nth-child(2n) { float: right; }
.bonuses .item { height: 60px; background-color: #202b37; margin-bottom: 12px; color: #fff; }
.bonuses .item .left { float: left; height: 60px; width: 45%; border-radius: 2px 30px 30px 2px;  background-image: linear-gradient(135deg, #622774 0%, #c53364 100%); color: #fff; padding: 10px 0 0 25px; }
.bonuses .item .right { float: left; width: 55%; height: 60px; padding: 11px 0 0 30px; }
.bonuses .item .subheading { font-size: 12px; font-weight: 700; margin-bottom: -1px; }
.bonuses .item .left .num { font-size: 24px; font-weight: bold; color: #fff; }
.bonuses .item .right .num { font-size: 24px; font-weight: bold; color: #7ed321; }
.bonuses .item:nth-child(2) .left { background-image: linear-gradient(135deg, #43cbff 0%, #9708cc 100%); }
.bonuses .item:nth-child(3) .left { background-image: linear-gradient(135deg, #4377ff 0%, #08cc66 100%); }
.bonuses .item:nth-child(4) .left { background-image: linear-gradient(135deg, #656d78 0%, #2f3640 100%); }

.bonus-sum { text-align: center; margin-bottom: 26px; }
.bonus-sum .label { display: inline-block; vertical-align: top; color: #000; font-weight: bold; font-size: 14px; margin: 11px 20px 0 0; }
.bonus-sum .desc { display: inline-block; vertical-align: top; text-align: center; }
.bonus-sum .desc .input { border: solid 1px #7b7b7b; width: 238px; height: 42px; padding: 0 16px; font-family: inherit; border-radius: 2px; outline: none; font-size: 16px; font-weight: bold; color: #202b37; }
.bonus-sum .min { color: #818993; font-size: 12px; font-weight: 700; text-align: right; margin: 11px 0 0; }

.bonus-total { max-width: 318px; margin: 0 auto 12px; border: 1px dashed #2a3746; border-radius: 2px; height: 50px; padding: 0 16px; line-height: 48px; font-weight: bold; }
.bonus-total .left { float: left; color: #000; font-size: 14px; }
.bonus-total .right { float: right; }

.history-tabs { text-align: center; margin-bottom: 32px; }
.history-tabs .item { width: 250px; height: 52px; line-height: 52px; display: inline-block; border-radius: 2px; background-color: #18212b; color: #818993; text-decoration: none; font-weight: bold; position: relative; z-index: 1; }
.history-tabs .item:after { content: ''; background-image: linear-gradient(-45deg, #5d9cec 0%, #0e65d7 100%); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; border-radius: 2px; opacity: 0; transition: all 0.3s ease; }
.history-tabs .item.active:after { opacity: 1; visibility: visible; }
.history-tabs .item:hover { background: #293745; color: #fff; }
.history-tabs .item.active { color: #fff; }
.history-tabs .item:first-child { margin-right: 8px; }

.main-width { max-width: 1360px; margin: 0 auto; width: calc(100% - 20px); }


.bonus-banner { background: url(/images/bonus-big.jpg) no-repeat center; background-size: 1920px auto; height: 906px; }
.bonus-banner .main-width { height: 906px; display: table; }
.bonus-banner .align { display: table-cell; vertical-align: middle; }
.bonus-banner .heading { color: #ffffff; font-size: 40px; font-weight: bold; max-width: 420px; margin-bottom: 20px; text-transform: uppercase; }
.bonus-banner .desc { max-width: 339px; font-size: 31px; text-transform: uppercase; color: #ffffff; font-weight: bold; line-height: 45px; margin: 18px 0 0; }
.bonus-banner .btn-gradient { background-image: linear-gradient(135deg, #a0d468 0%, #6eaf27 100%); border-radius: 46px; height: 95px; display: block; max-width: 330px; text-align: center; line-height: 94px; color: #ffffff; text-decoration: none; font-weight: bold; font-size: 22px; border-bottom: 5px solid #5d9c18; margin: 55px 0 0; }
.bonus-banner .btn-gradient:hover { filter: brightness(1.1);}
.bonus-banner .rules { text-align: center; max-width: 330px; margin: 30px 0 0; font-size: 14px; font-weight: bold; }
.bonus-banner .rules a { color: #fff; opacity: 0.5; }
.bonus-banner .rules a:hover { opacity: 1; }
.bonus-banner .align img { max-width: 100%; }

.bottom-line { position: fixed; bottom: 0; left: 0; width: 100%; height: 50px; background-color: #121921; z-index: 10; display: none; }
.bottom-line .left { float: left; margin-left: 10px; }
.bottom-line .left a { float: left; color: #fff; font-size: 14px; font-weight: bold; padding: 0 10px; line-height: 52px; height: 50px; text-decoration: none; }
.bottom-line .left a:hover, .bottom-line .left a.active { background: rgba(255,255,255,0.05); }
.bottom-line .left a:last-child { margin-right: 0; }
.bottom-line .right { float: right; }
.bottom-line .right a { background-image: linear-gradient(-45deg, #5d9cec 0%, #0e65d7 100%); height: 50px; width: 116px; display: block; text-align: center; line-height: 52px; color: #fff; text-decoration: none; font-weight: 700; font-size: 14px; position: relative; z-index: 1;}
.bottom-line .right a .count { display: inline-block; vertical-align: middle; width: 24px; height: 24px; border-radius: 100%; background: #fff; line-height: 24px; text-align: center; color: #196dda; margin: -2px 10px 0 0; position: relative; z-index: 1; }
.bottom-line .right a:after { content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: #0e65d7; z-index: -1; transition: all 0.3s ease; opacity: 0; }
.bottom-line .right a:hover:after, .bottom-line .right a.active:after { opacity: 1; }
.bottom-line .left a .ico { display: inline-block; vertical-align: middle; width: 20px; height: 20px; margin: -2px 6px 0 0; }
.bottom-line .left a .ico.ico1 { background: url(/images/ico-bottom1.svg) no-repeat center; }
.bottom-line .left a .ico.ico2 { background: url(/images/ico-bottom2.svg) no-repeat center; }
.bottom-line .left a .ico.ico3 { background: url(/images/ico-bottom3.svg) no-repeat center; }

.fade { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; background: rgba(18,25,33,0.85); overflow: auto; opacity: 0; visibility: hidden; transition: all 0.3s ease; display: none; }
.fade.active { opacity: 1; visibility: visible; z-index: 9; }

.mobile-line { display: none; }

.status { text-align: center; padding: 50px 0; }
.status .subheading { font-weight: bold; color: #404040; font-size: 24px; margin-bottom: 16px; }
.status .desc { font-weight: bold; font-size: 14px; color: rgba(255,255,255,0.5); }

.success-bet {color: #000;}

.containerpadding {
    padding: 16px;
    width: 100%;
}

.float-left {
    position: relative;
    overflow: hidden;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.game-title {
    font-size: 16px;
    padding: 3px 0px 2px 0px;
    background-color: #403c86;
	background-image: linear-gradient(#403c86 0,#1e2533 100%);
    cursor: pointer;
    width: 100%;
    color: #fff;
    font-weight: 600;
    padding: 6px 9% 6px 1%;
}
.tournament-title {
    font-size: 14px;
    padding: 8px 7px 8px 10px;
    background: #495888;
    cursor: pointer;
    color: #d6d6d6;
}
.bet-table {
    width: 100%;
    border-spacing: 0 0;
}
tr.betmain:nth-child(2n+1) {
    background: #f5f5f5;
}
.bet {
    width: 100%;
    min-height: 38px;
    font-size: 0;
    cursor: default;
    color: #000;
}
.bet-table td {
    font-size: 15px;
    padding: 4px;
}
.bet td {
    border-bottom: solid 1px #616161;
    padding: 4px;
}
.betmain .factor {
    padding: 4px;
    background: #2f2f2f;
    width: 50px;
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
    cursor: pointer;
}
.more-result {
    float: left;
    margin-left: 20px;
    padding: 8px;
    color: #fff;
    background: #b92515;
}
.bet .more-bet {
    font-size: 13px;
    display: none;
    padding: 0px 0px 20px 0px;
    list-style: none;
	background: #bbbbbb;
    border-left: solid 1px #a0a0a0;
    border-right: solid 1px #a0a0a0;
}
.bet .exodus {
    width: 100%;
    padding: 8px 0px 0px 0px;
    margin: 5px 0px 0px 0px;
}
.more-bet-title {
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    background: #484848;
	color: #fff;
    position: relative;
    overflow: hidden;
}
.bet .exodus ul {
    width: 97%;
    position: relative;
    overflow: hidden;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    padding: 4px 1.5% 4px 1.5%;
}
.bet .exodus ul li {
    width: 30%;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.bet .exodus ul li span.factor {
    margin-bottom: 0;
}
.bet-coefficient .factor, .bet .exodus ul li span.factor {
    background: #fff;
    line-height: 20px;
    font-size: 12px;
    padding: 5px 6px 5px 12px;
    margin-top: 6px;
    border-radius: 4px;
}
.bet .exodus ul li span.factor {
    font-size: 13px;
    width: 90%;
    cursor: pointer;
    overflow: hidden;
    background: -webkit-linear-gradient(#fbfbfb 0,#e1e1e1 100%);
    background: -o-linear-gradient(#fbfbfb 0,#e1e1e1 100%);
    background: linear-gradient(#fbfbfb 0,#e1e1e1 100%);
    box-shadow: inset 0 0 0 1px #545454;
    font-weight: 700;
    text-align: left;
    padding: 4px 0px 3px 10px;
    float: right;
}
.bet .exodus ul li span {
    margin-bottom: 0px;
    line-height: 20px;
}
.bet .exodus ul li span {
    font-weight: 600;
    position: relative;
    overflow: hidden;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.exodus .factor {
    color: #000 !important;
}
.bet .exodus ul li span {
    margin-bottom: 0px;
    line-height: 20px;
}
.bet .exodus ul li span {
    font-weight: 600;
    position: relative;
    overflow: hidden;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
.minutes {
    padding: 4px 5px;
    margin-left: 25px;
    margin-top: -3px;
    background: #2a72c5;
    border-radius: 4px;
    color: #fff !important;
    font-size: 14px;
    float: left;
    width: 40px;
    text-align: center;
}
.commands {
    color: #000;
    font-size: 16px;
}
.factor {
    color: #fff;
}
.up-coef {
    background: #4898ea !important;
}
.dn-coef {
    background: #ff6e6e !important;
}
.bet .exodus ul li span.factor a {
    float: right;
    margin-right: 5px;
}

.betmr td {
    padding: 0 !important;
}
.no-bets {
    padding: 35px 0px 35px 0px;
    width: 100%;
    font-size: 14px;
    background: #969696;
    color: #3c3c3c;
    text-align: center;
}

.coupon-info {
    height: 100px;
    width: 70%;
    margin: 0px auto;
    padding: 35px 0px 20px 0px;
    text-align: center;
    font-size: 14px;
    color: #000;
}

.factor.hover-bet {
    background: #ff8100 !important;
    color: #fff !important;
}

.game-title i {
    background-image: url(/image/icons-sprite.png);
    width: 15px;
    min-height: 15px;
    margin-top: 3px;
    margin-right: 5px;
    margin-left: 6px;
    position: relative;
    display: inline-block;
    background-position: -20px -552px;
}

.category-list { display: none; background-color: #202b37; }
.btn-app { display: none; text-align: center; height: 39px; line-height: 42px; padding: 0; margin-bottom: 10px; font-size: 12px; }
.btn-app .ico-phone { background: url(../images/ico-phone.svg); width: 14px; height: 24px; display: inline-block; vertical-align: middle; margin: -4px 15px 0 0; }


.android { text-align: center; width: 100%; padding-bottom: 30px; }
.android .image { background: url("../images/img-android.png") no-repeat center; height: 340px; }
.android .btn { height: 58px; line-height: 62px; width: 300px; text-align: center; padding: 0; margin: -29px auto 0; display: block; }
.android .btn .ico-android { background: url("../images/ico-android.svg"); width: 26px; height: 30px; display: inline-block; vertical-align: middle; margin: -5px 10px 0 0; }
.android .info  { padding: 30px 0 0; }
.android .info .heading { color: #fff; font-size: 18px; font-weight: 700; margin-bottom: 38px; position: relative; }
.android .info .heading:after { content: ''; height: 1px; width: 200px; background-color: #202b37; position: absolute; bottom: -20px; left: 50%; margin-left: -100px; }
.android .info .heading:before { content: ''; z-index: 1; height: 2px; width: 50px; background-color: #4a9aeb; position: absolute; bottom: -21px; left: 50%; margin-left: -25px;   }
.android .info .desc { font-size: 14px; color: #818993;  line-height: 21px; max-width: 290px; margin: 0 auto; font-weight: 500; }


@media(max-width: 1840px) {
    .footer .line.second .left { float: none; text-align: center; }
    .footer .line.second .license { float: none; text-align: center; width: 100%; margin: 10px auto 0; }
}

@media(max-width: 1740px) {
    .footer .social { margin-left: 0; }
}

@media(max-width: 1700px) {
    .profile-nav a { width: calc(33.333% - 1.5px); margin-bottom: 2px; border-radius: 2px !important; margin-right: 2px; }
    .profile-nav a:nth-child(3n) { margin-right: 0; }
}

@media(max-width: 1680px) {
    .footer .fnav { margin: 10px 0 0; }
    .footer .fnav li:first-child { margin-left: 0; }
    .footer .logo { display: none; }
}

@media(max-width: 1600px) {
    .topbar .bonus { margin-right: 20px; }
    .topbar .nav { margin-left: 22px ;}


}

@media(max-width: 1500px) {
    .footer .fnav { float: none; text-align: center; margin-bottom: 10px; }
    .footer .fnav li { display: inline-block; margin: 0 10px 10px; float: none; }
    .footer .right { float: none ;text-align: center; }

    .topbar { height: 70px; padding-top: 15px; }
    .topbar .bonus { height: 46px; line-height: 43px; margin-top: -1px; }
    .topbar .auth .btn { height: 42px; line-height: 44px; padding: 0 20px; }
    .topbar .right { margin: -1px 0 0; }

    .topbar .mini-profile { margin: 0; }

    .leftbar { width: 260px; top: 80px; height: calc(100% - 90px); }
    .rightbar { width: 270px; top: 80px; height: calc(100% - 90px); }
    .block .bet-item .info { text-align: left; }
    .block .bet-item .info .left { float: none; }
    .block .bet-item .info .right { float: none; display: inline-block; margin: 4px 0 0; }

    body { padding: 80px 280px 10px 280px; }
    body.active { padding-right: 287px; }
}

@media(max-width: 1340px) {
    .topbar .nav { margin-left: 20px; }
    .topbar .nav ul li { margin-left: 20px; }
}

@media(max-width: 1400px) {

}


@media(max-width: 1240px) {
    .topbar { padding: 13px 20px 0; }
    .topbar .nav { margin-left: 0; margin: 3px 0 0; position: relative; }
    .topbar .nav .nav-resize { display: block; position: relative; width: 42px; height: 42px; cursor: pointer; }
    .topbar .nav.active .nav-resize { background: #0f1318; }
    .topbar .nav .nav-resize:after { content: ''; width: 32px; height: 24px; border-top: 2px solid #fff; border-bottom: 2px solid #fff; position: absolute; top: 50%; left: 50%; margin: -12px 0 0 -16px; box-sizing: border-box; transition: all 0.3s ease; }
    .topbar .nav.active .nav-resize:after { border-color: #404b59; }
    .topbar .nav .nav-resize:before { content: ''; width: 24px; height: 2px; background-color: #4a9aeb; position: absolute; top: 50%; left: 5px; margin: -1px 0 0; transition: all 0.3s ease; }
    .topbar .nav.active .nav-resize:before { background: #404b59; width: 32px; }
    .topbar .nav ul { position: absolute; top: 100%; left: 0; width: 220px; padding: 10px 0; background: #0f1318; opacity: 0; visibility: hidden; transition: all 0.3s ease; }
    .topbar .nav.active ul { opacity: 1; visibility: visible; }
    .topbar .nav ul li { float: none; display: block; margin: 0; }
    .topbar .nav ul li a { display: block; padding: 10px 20px; background: #0f1318; }
    .topbar .nav ul li a:after { display: none; }
    .topbar .logo { position: absolute; left: 100px; }

    body { padding: 80px 10px 60px 10px; }
    body.active { padding-right: 27px; }
    body.active .rightbar { right: -280px; }
    body.active .rightbar.active { right: 0; }

    .leftbar { top: 0px; left: -280px; transition: all 0.3s ease; z-index: 12; padding: 10px; height: 100vh; width: 280px; background: #0f1318; }
    .rightbar { top: 0; z-index: 11; transition: all 0.3s ease; right: -280px; padding:10px 0 10px 10px; height: 100vh; width: 280px; background: #0f1318; }

    .leftbar.active { left: 0; }
    .rightbar.active { right: 0; }

    .bottom-line { display: block; }
    .fade { display: block; }
}


@media(max-width: 960px) {
	.flaginc { display: none; }
    .topbar .bonus { display: none; }

    body.active { padding-right: 10px; }
    body.active .topbar { width: 100%; }

    .category-list { display: block; margin-bottom: 10px; height: 48px; padding: 10px; overflow: hidden; }
    .category-list a { height: 28px; position: relative; float: left; margin-right: 25px; width: 25px; }
    .category-list a img { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);  }
}

@media(max-width: 840px) {
    .table th { font-size: 12px; padding: 10px 5px; }
    .table td { font-size: 12px; padding: 5px; }
}

@media(max-width: 768px) {
    .topbar { padding: 10px; height: 60px; }
    .topbar .nav { margin: 0; }
    .topbar .logo { margin: 3px 0 0 ; left: 60px; width: 157px; height: 34px; background-size: 100% 100%; }
    .topbar .right { margin: 0; }
    .topbar .right .btn { height: 42px; line-height: 42px; font-size: 12px; padding: 0 20px; }

    body { padding-top: 122px; }
    .content .container, .content .container.second { min-height: calc(100vh - 434px); }
    .footer .line.second .left .comission { display: block; margin: 0 0 10px; }

    .topbar .mobile-profile { background: url(/images/ico-profile.svg) no-repeat center; width: 42px; height: 42px; display: block; }
    .topbar .mini-profile { display: none; }
    .topbar .mini-profile { margin: -4px 0 0; }
    .topbar .mini-profile .sep { margin: 0 15px; }
    .topbar .mini-profile .balances .item .label { width: 50px; font-size: 12px; }
    .topbar .mini-profile .balances .item .desc { width: 50px; font-size: 12px; }

    .topbar .right .auth { display: none; }
    .topbar .logo { left: 50%; margin-left: -78px; }

    .mobile-line { display: block; position: fixed; top: 60px; left: 0%; width: 100%; z-index: 11; padding: 10px; background: #0f1318; text-align: center; height: 62px; }
    .mobile-line .item { float: left; width: 50%; text-align: center; font-size: 14px; font-weight: bold; color: #fff; line-height: 42px; text-decoration: none; }
    .mobile-line .item .ico-wallet { background: url(/images/ico-wallet.svg); width: 19px; height: 18px; display: inline-block; vertical-align: middle; margin: -4px 8px 0 0; }
    .mobile-line .item .ico-gift { background: url(/images/ico-gift2.svg); width: 19px; height: 18px; display: inline-block; vertical-align: middle; margin: -4px 8px 0 0; }

    .mobile-line .btn { height: 42px; line-height: 44px; width: 140px !important;  padding: 0; text-align: center; margin: 0 4px; }
    .select { max-width: 300px; }
    .profile-nav a { width: calc(50% - 1px); font-size: 14px; margin-right: 0; }
    .profile-nav a:nth-child(2n) { float: right;}

    .bet .exodus ul li {
        width: 80% !important;
    }
    .rightbar .banner {
        display: none;
    }
    .minutes {
        margin-left: 0px;
    }
}

@media(max-width: 640px) {
    .footer .copyright .left { float: none; text-align: center; }
    .footer .copyright .right { float: none ;text-align: center; margin: 3px 0 0; }

    .popup { top: -100%; margin-bottom: 10px; transform: translateX(-50%) scale(1); }
    .popup.active { top: 10px; margin-bottom: 10px; transform: translateX(-50%) scale(1); }

    .contentbar .select { display: block; max-width: none !important; margin-bottom: 12px; }
    .contentbar .select:last-child { margin-bottom: 0; }

    .payments-nav a { width: 100%; margin-bottom: 2px; border-radius: 2px !important; }

    .history-tabs .item { display: block; margin: 0 auto 10px !important; }


}

@media(max-width: 480px) {
    .topbar .right .btn { padding: 0 15px; }
    .topbar .right .btn:first-child { margin-right: 4px; }

    .footer .apps { display: block; margin: 0 auto 15px; }
    .footer .social a { margin: 0 5px; }

    .bonuses .item .left { padding: 13px 0 0; text-align: center; border-radius: 2px; width: 50%; }
    .bonuses .item .right { width: 50%; padding: 13px 0 0; text-align: center; }
    .bonuses .item .left .num { font-size: 20px; }
    .bonuses .item .right .num { font-size: 20px; }
    .bonus-sum .label { display: block; margin: 0 0 10px; }

    .form .item { float: none; width: 100%; }
    .form .item:nth-child(2n) { float: none; }


    .btn-app { display: block; }

}

@media(max-width: 410px) {
    .bottom-line .right a { width: 90px; }

}

@media(max-width: 370px) {
    .bottom-line .right a { width: 90px; font-size: 12px; }
    .bottom-line .left a { padding: 0 5px; font-size: 12px; }
    .bottom-line .left a .ico { margin-right: 6px; }

    .mobile-line .item { font-size: 12px; }
}


.mobile-table { display: none; width: calc(100% + 30px); margin-left: -15px; }
.result-item { }
.result-item .heading { background: #18212b; padding: 14px 60px 11px 14px; cursor: pointer; position: relative; margin-bottom: 1px; }
.result-item .heading:before { content: ''; width: 6px; height: 6px; border-bottom: 2px solid #818993; border-right: 2px solid #818993; position: absolute; right: 22px; top: 50%; transform-origin: 66% 66%; transform: rotate(45deg); margin-top: -4px; }
.result-item.active .heading:before { transform: rotate(-135deg); border-color: #4a9aeb; }
.result-item .heading .left { float: left; width: calc(100% - 80px); }
.result-item .heading .left .name { color: #fff; font-size: 14px; font-weight: 700; }
.result-item .heading .left .date { color: #818993; font-weight: 700; font-size: 14px; margin: 4px 0 0; }

.result-item .heading .badge { float: right; }
.result-item:nth-child(2n) .heading { background: #202b37; }
.result-item:last-child { margin-bottom: -16px; }

.result-item .item { padding: 14px 10px; background-color: #18212b; font-size: 14px; color: #818993; margin-bottom: 1px; }
.result-item .item:nth-child(odd) { background: #202b37; }

.result-item:nth-child(2n) .item:nth-child(even) { background: #202b37; }
.result-item:nth-child(2n) .item:nth-child(odd) { background: #18212b; }

.result-item .item .label { width: calc(50% - 4px); display: inline-block; vertical-align: middle; color: #fff; font-size: 14px; font-weight: bold; }
.result-item .item .value { display: inline-block; vertical-align: middle; width: calc(50% - 4px); padding-left: 10px; color: #fff; font-weight: bold; }
.result-item .game { padding: 14px; }
.result-item .game .cat { font-size: 12px; font-weight: 700; color: #818993; margin-bottom: 5px; }
.result-item .game .ico { display: inline-block; vertical-align: middle; margin: -2px 10px 0 0; }
.result-item .game .ico img { vertical-align: bottom; }
.result-item .game .name { color: #fff; font-size: 16px; font-weight: bold; margin: 8px 0 0; }
.result-item .result-content { display: none; }
.result-item.active .result-content { display: block; }

.badge.red { background-image: linear-gradient(135deg, #ed5565 0%, #d62839 100%); height: 35px; line-height: 37px; font-size: 16px; border-radius: 2px; padding: 0 10px; }
.badge.green { background-image: linear-gradient(135deg, #a0d468 0%, #6eaf27 100%); height: 35px; line-height: 37px; font-size: 16px; border-radius: 2px; padding: 0 10px; }
.badge.yellow { background-image: linear-gradient(135deg, #ffcd7c 0%, #f68842 100%); height: 35px; line-height: 37px; font-size: 16px; border-radius: 2px; padding: 0 10px; }


@media(max-width: 840px) {
    .descktop-table { display: none; }
    .mobile-table { display: block; }
    .slider {display: none;}
}

@media(max-width: 480px) {
    .result-item .heading { padding-right: 40px; }
    .result-item .heading .left { width: calc(100% - 65px); }
    .result-item .heading:before { right: 14px; }

    .search .input { height: 42px; }

    .mobile-line .btn { width: calc(50% - 5px) !important; margin: 0; }
    .mobile-line .btn:first-child { margin-right: 10px; }
}


.result-item.active.red { border: 1px solid #d62839;}
.result-item.active.green { border: 1px solid #6eaf27;}
.result-item.active.yellow { border: 1px solid #f68842;}
.result-item.active.blue { border: 1px solid #0e65d7;}

@media (max-width: 1240px) {
    #chatra.chatra--side-bottom {
        bottom: 60px !important;
    }
    #chatra.chatra--pos-right {
        right: 10px !important;
    }
}

.auth {
    font-size: 0;
}

.bets {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.mobile-blocks { display: none; }
.desctop-blocks { display: block; }
@media(max-width: 1240px) {
    .mobile-blocks { display: block; }
    .desctop-blocks { display: none; }
    .footer { display: none; }
}

.loaderSS {
    font-size: 20px;
    position: relative;
    width: 4em;
    height: 1em;
    margin: 8px auto;
}

.dot {
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #0070ff;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.dot1, .dot2 {
    left: 0;
}

.dot3 { left: 1.5em; }

.dot4 { left: 3em; }

@keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
}

@keyframes slide {
    to { transform: translateX(1.5em) }
}


.dot1 {
    animation-name: reveal;
}

.dot2, .dot3 {
    animation-name: slide;
}

.dot4 {
    animation-name: reveal;
    animation-direction: reverse; /* thx @HugoGiraudel */
}

.live-info { width: 100%; padding: 14px; text-align: center; }
.live-info .badges { text-align: center; margin-bottom: 18px; width: 100%; }
.live-info .badges .badge { display: inline-block; height: 36px; line-height: 38px; width: 120px; border-radius: 2px;  color: #fff; font-weight: 700; font-size: 14px !important; margin: 0 5px 14px; text-transform: none;  }
.live-info .badges .badge.green { background: #7ed321; }
.live-info .badges .badge.orange { background: #f5a623 !important;}
.live-info .badges .ico-timer { background: url("../images/ico-timer.svg"); width: 17px; height: 18px; display: inline-block; vertical-align: middle; margin: -3px 5px 0 0; }
.live-info .info { margin-bottom: 30px; }
.live-info .info .item { display: inline-block; vertical-align: middle; width: calc(50% - 120px); text-align: right; }
.live-info .info .item.right { text-align: left; }
.live-info .info .item .name { display: inline-block; vertical-align: middle; color: #fff; font-weight: 700; font-size: 24px; }
.live-info .info .item .photo { display: inline-block; vertical-align: middle; width: 72px; height: 72px; margin: -2px 14px 0 0; }
.live-info .info .item.right .photo { margin: -2px 0 0 14px; }
.live-info .info .item .photo img { width: 100%; height: 100%; border-radius: 100%; }
.live-info .info .score { display: inline-block; vertical-align: middle; margin: 0 40px; }
.live-info .info .score .num { width: 54px; height: 68px; border-radius: 2px; background-color: #4a9aeb; color: #fff; font-weight: 700; font-size: 32px; display: inline-block; line-height: 68px; }
.live-info .info .score span { width: 18px; height: 4px; display: inline-block; vertical-align: middle; border-radius: 2px; background: #fff; margin: -10px 10px 0; }
.live-info .sub-badges { }
.live-info .sub-badges .sub-badge { width: 120px; height: 36px; border-radius: 2px; line-height: 38px; display: inline-block; vertical-align: middle; color: #f5a623; font-weight: 700; background-color: #202b37; margin: 0 6px 14px; font-size: 14px; }
.live-info .sub-badges .sub-badge.c-blue { color: #4a9aeb; }
.live-info .list { }
.live-info .list .item { margin-bottom: 14px; }
.live-info .list .item:last-child { margin-bottom: 0; }
.live-info .list .item .point { float: left; width: 120px; height: 36px; line-height: 38px; border-radius: 2px; background-color: #202b37; font-weight: 700; color: #4a9aeb; }
.live-info .list .item .desc { width: calc(100% - 268px); margin: 0 14px; float: left;  border-radius: 2px; background-color: #202b37; font-weight: 700; color: #fff; font-size: 14px; padding: 10px 6px 9px; }

@media(max-width: 960px) {
    .live-info .info .item .photo { display: none; }
}

@media(max-width: 640px) {
    .live-info .info .score { margin: 24px 0; }
    .live-info .info .item { display: block; text-align: center !important; width: 100%; }

    .live-info .list .item .point { width: 40px; }
    .live-info .list .item .desc { width: calc(100% - 108px); }
}


@media(max-width: 1367px) {
    .topbar .mini-profile .sep { margin: 0 5px; }
}











